body {
  width: 1280px;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100%, 100%;
  background-position: center;
  backdrop-filter: blur(10px);
}

.gameBackImg {
  overflow: hidden;
  background-image: url(../IMG/shop.jpg);
  width: 1280px;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 80%, 100%;
  background-position: center;
}

@media (1280px < width <=2000px) {
  body {
    width: 1970px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-position: center;
    backdrop-filter: blur(10px);
  }

  .gameBackImg {
    overflow: hidden;
    background-image: url(../IMG/shop.jpg);
    width: 1970px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 80%, 100%;
    background-position: center;
  }
}