*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.5;
	position: relative;
	display: inline-block;
	padding: 1rem 4rem;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	letter-spacing: 0.1em;
	color: #212529;
	border-radius: 0.5rem;
}

/* ここからトップページ */
.container {
	padding-top: 40px;
}

.gameTitle {
	margin: 0 auto;
	width: 60%;
	font-size: 150px;
	font-weight: bold;
	font-family: 'Caveat', cursive;
	text-align: center;
	background-color: #c39243a4;
	border: dashed 8px #8a5111;
	z-index: 2;
}

/* .gameTitle {
	font-size : 150px;
	font-weight : bold;
	font-family : 'Caveat', cursive;
	text-align : center;
	padding-top: 40px;
	z-index: 2;
	border:30px solid transparent;
	border-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewbox="0 0 60 60" stroke="none" fill="%23ddddff"><circle cx="22" cy="30" r="16"/><circle cx="38" cy="30" r="16"/><circle cx="30" cy="22" r="16"/><circle cx="30" cy="38" r="16"/></svg>') 15 fill/15px round;
} */

.startInfo {
	margin: 0 auto;
	width: 50%;
	font-size: 50px;
	font-weight: bold;
	font-family: 'Caveat', cursive;
	text-align: center;
	background-color: #64481ab6;
	border-radius: 40px;
	z-index: 2;
}

a.btn--orange {
	font-size: 45px;
	font-family: 'Caveat', cursive;
	color: #fff;
	background-color: #a07229;
	border-bottom: 5px solid #64481a;
	z-index: 2;
}

a.btn--orange:hover {
	margin-top: 3px;
	color: #fff;
	background: #c39243;
	border-bottom: 2px solid #8b682f;
}

a.btn--shadow {
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
	box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

a.btn--green {
	font-size: 13px;
	font-family: 'Caveat', cursive;
	color: #fff;
	background-color: #23886a;
	border-bottom: 5px solid #1c553a;
	z-index: 2;
	height: 40px;
}

a.btn--green:hover {
	margin-top: 3px;
	color: #fff;
	background: #23886a;
	border-bottom: 2px solid #1c553a;
}

a.btn--shadow2 {
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
	box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

/* ゲームページ */
.gameTitle_coffee {
	color: #b84c00;
	background-color: rgb(37, 37, 37);
	font-size: 15px;
	font-weight: bold;
	font-family: 'Caveat', cursive;
	text-align: start;
}


.backBtn {
	font-family: "Arial Black";
}

#modalButton {
	display: none;
}

#startModalButton {
	display: none;
}

.modal-content {
	background-color: #000000b9;
}

.modal-title {
	color: #ffffff;
	font-size: 30px;
	text-align: center;
	font-family: "Arial Black";
}

.modal-body {
	color: #ffffff;
	font-size: 25px;
	text-align: center;
}

.modal-header {
	border: 0;
	box-shadow: none;
	background: none;
	text-align: center;
}

.modal-footer {
	border: 0;
	box-shadow: none;
	background: none;
}

.modalBtn {
	font-size: 20px;
	text-align: center;
	font-family: "Arial Black";
}

.startContent {
	background-color: #000000a4;
}

.gameStarted {
	color: #bb3030;
	font-size: 70px;
	text-align: center;
	font-family: "Arial Black";
}

#modalClose {
	width: 1px;
	height: 1px;
	color: #000000ab;
	border: 0;
	box-shadow: none;
	background: none;
}

#guestPerson {
	position: relative;
	margin: 6rem auto;
	width: 20%;
	height: 20%;
}

.guestArea {
	font-size: 15px;
	color: #fff;
}

.drinkOrder {
	position: absolute;
	display: inline-block;
	margin: 0 0 0 0;
	top: 200px;
	left: 750px;
	padding: 7px 10px;
	width: 120px;
	color: #555;
	font-size: 16px;
	background: #FFF;
	border: solid 3px #555;
	border-radius: 10px;
	box-sizing: border-box;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

.drinkOrder:before {
	content: "";
	position: absolute;
	top: 50%;
	left: -24px;
	margin-top: -12px;
	border: 12px solid transparent;
	border-right: 12px solid #FFF;
	z-index: 2;
}

.drinkOrder:after {
	content: "";
	position: absolute;
	top: 50%;
	left: -30px;
	margin-top: -14px;
	border: 14px solid transparent;
	border-right: 14px solid #555;
	z-index: 1;
}

#order {
	color: red;
}

.offerSelect {
	width: 25%;
	border: solid 5px #64481a;
}

legend {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	float: none;
	background-color: #8b682f;
	padding: 3px 6px;
}

.offerDrink {
	text-align: center;
}

.offerDrink label {
	font-size: 25px;
	color: bisque;
}